---
---

@import "fonts";
@import "variables";
@import "vendor";
@import "reset";

body {
  color: $grey;
  font-family: $sans-serif;
  min-height: 100vh;
}

a {
  @include transition(border-color 0.25s);
  border-bottom: 2px solid transparent;
  color: $tigerlily;
  text-decoration: none;

  &.right {
    float: right;
  }

  &:hover {
    border-color: $tigerlily;
    &.active {
      cursor: pointer;
    }
  }

  i {
    font-size: 11px !important;
    margin-top: 5px;
  }

}

hr {
  border: 1px solid #ccc;
  clear: both;
  display: block;
  margin: 80px 0 40px;
}

@import "nav";
@import "content";
@import "banner";
