---
layout: base
---
<div class="flexbox">

  <section>

    {% if page.header %}
    <h1 class="header">{{ page.header }}</h1>
    {% endif %}

    {{ content }}

  </section>

  <aside>
    <h3>
      Instagram
      <sub><a href="https://instagram.com/missionnutritionboston/" target="_blank">@missionnutritionboston</a></sub>
    </h3>
    <script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/c4c5f2279ff918fd5b1a14e5296401d64d9254a3.html" id="instansive_c4c5f2279f" name="instansive_c4c5f2279f"  scrolling="no" allowtransparency="true" class="instansive-widget"></iframe>
    <!-- <script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/69628b8a55427c500bff4b92d2ebe77eab23a87e.html" id="instansive_69628b8a55" name="instansive_69628b8a55"  scrolling="no" allowtransparency="true" class="instansive-widget"></iframe> -->
    <h3>Archive</h3>
    <ul>
      {% for post in site.posts %}
        <li>
          {% if post.url == page.url %}
            {{ post.title }}
          {% else %}
            <a href="{{ post.url }}">{{ post.title }}</a>
          {% endif %}
          <sub>{{ post.date | date: '%B %d, %Y' }}</sub>
        </li>
      {% endfor %}
    </ul>
  </aside>

</div>
