---
layout: base
---
<section>

  {% if page.header %}
  <h1 class="header">{{ page.header }}</h1>
  {% endif %}

  {{ content }}

</section>

<!-- <div class="flexbox"> -->
  {% assign services = site.services | sort:"order" %}
  {% for service in services %}
  <a class="anchor" id="{{ service.title }}"></a>
  <section class="service">
    <div class="title">
      {% if service.icon %}<i class="fa fa-{{ service.icon }}"></i>{% endif %}
      <h2>{{ service.title }}</h2>
    </div>
    {{ service.content | markdownify }}
    <p class="center">
      {% if service.url == "/services/corporate.html" %}
      <a class="button" href="/contact/">Contact Us</a>
      {% else %}
      <a target="_blank" class="button" href="https://clients.mindbodyonline.com/classic/home?studioid=260796">Book Now</a>
      {% endif %}
      {% if service.example %}<br /><br /><a href="/examples/{{ service.example }}.jpg" data-featherlight="image">View Session Summary Example</a>{% endif %}
    </p>
  </section>
  {% endfor %}
<!-- </div> -->
