---
layout: base
---

<div class="header parallax-window" data-parallax="scroll" data-image-src="/images/header.jpg" data-speed="0.25"></div>

<header>

  <a class="login" href="https://gethealthie.com/users/sign_in.html">Customer Log In</a>

  <img id="logo" src="/images/logo-light-shadow.png" alt="Mission Nutrition" />
  <p id="tagline">
    Health Coaching with a Registered Dietitian.<br />
    Feel better. Enjoy Food.
  </p>

  <div class="accordion">
    {% assign services = site.services | sort: "order" %}
    {% for service in services %}

    <div id="{{ service.path | replace: '_services/', '' | replace: '.md', '' }}" class="bellow{% if service.open %} active{% endif %}">
      <div class="small-title">
        {{ service.title }}
      </div>
      <div class="content">
        <h2><a class="title scroll" name="{{ service.id }}" href="#{{ service.id }}">{{ service.title }}</a></h2>
        <div class="price">
          {{ service.cost }}<span class="duration{% if service.per.size > 10 %} small{% endif %}">{{ service.per }}</span>
        </div>
        {{ service }}
        <a class="button scroll" href="#book">Free Strategy Session</a>
      </div>
    </div>

    {% endfor %}

  </div>

</header>

<section id="book">

  <h2><a class="title scroll" name="book" href="#book">Services and Pricing</a></h2>

  <div class="flex">

    <div id="melissa">
      <img src="/images/melissa.jpg" alt="Melissa" />
      <p>Hi There! I'm Melissa of Mission Nutrition.</p>
      <p>If you're motivated toward a vision of the healthiest-you-ever, you're in luck!</p>
      <p>Health coaching works to create habits you can follow for good.</p>
      <p>That's the mission: <strong>feel better. enjoy food.</strong>
      </p>
        <p>Working with me means taking the credibility of a Registered Dietitian plus Certified Health & Wellness Coach wherever you go
          through easy-to-access virtual services. Choose from tailored meal plans, in-app tracking, messaging support, and intensive 1:1 goal setting so you can realize your vision in the ways that work best for you. </p>
      <p> No matter which path you choose, I am your partner-in-dine (get it?) offering humor and perspective along the way. <a href="https://docs.google.com/forms/d/e/1FAIpQLSewgjQfOO-zYVikz-oCMtEjnkamAQTEweTuT8F00rGyEoKEFA/viewform">Contact me</a> for a complimentary 10 minute consultation, or if you’re ready, <strong>book your service now!</strong>
      <p>Here's to you,</p>
      <h2 class="signature">Melissa</h2>
      <p>Melissa Gallagher Landry, MEd, RD, LDN, CHWC</p>

      <div class="links">
        <a target="_blank" class="social" href="https://www.linkedin.com/profile/view?id=AAkAAALoRFMBDLl3t4MO2V0KuQX5FKUklVKOjME"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" class="social" href="https://www.facebook.com/missionnutritionboston"><i class="fa fa-facebook"></i></a>
        <a target="_blank" class="social" href="https://instagram.com/missionnutritionboston/"><i class="fa fa-instagram"></i></a>
        <a target="_blank" class="social" href="https://medium.com/@missionnutritionboston"><i class="fa fa-medium"></i></a>
      </div>
    </div>

    <div id="iframe">
      <iframe src="https://gethealthie.com/offerings/embeddable_offerings?user_id=560&immediate_purchase=true&is_group=false"></iframe>
    </div>

  </div>

</section>

<script>

  $(document).on("click", "a.scroll", function(event) {
    event.preventDefault();
    console.log("click");
    var section = $('[name="' + $.attr(this, 'href').substr(1) + '"]');
    if ($(section[0].parentNode.parentNode.parentNode).hasClass("bellow")) {
      $(section[0].parentNode.parentNode.parentNode.parentNode).find(".bellow").removeClass("active");
      $(section[0].parentNode.parentNode.parentNode).addClass("active");
    }
    else {
      $("html, body").animate({scrollTop: section.offset().top}, 500);
    }
  });

  $(document).on("click", ".bellow", function(event) {
    event.preventDefault();
    var section = $('[name="' + $(this).find(".title").attr("href").substr(1) + '"]');
    $(this.parentNode).find(".bellow").removeClass("active");
    $(this).addClass("active");
  });

</script>
