---
---

@import "font-awesome/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico');
@import "colors";
@import "vendor";
@import "reset";

body {
  color: $grey;
  font-family: $sans-serif;
  min-height: 100vh;
}

.parallax-window {
  background: transparent;
  min-height: 190px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 415px) {
    min-height: 107px;
  }

}

.parallax-mirror {
  // opacity: 0.25;
  &:after {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.parallax-slider {
  @include blur(2);
}

h2 {
  color: $emerald;
  display: block;
  font-family: $serif;
  font-size: 32px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: center;
  a {
    color: $emerald;
    text-decoration: none;
  }
}

h3 {
  display: block;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.button {
  @include box();
  @include shadow($shadow);
  @include transition(background-color 0.1s);
  background-color: $emerald;
  color: white;
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 13px 11px;
  text-decoration: none;

  &:hover {
    background-color: lighten($emerald, 1);
  }
}

@import "header";
@import "accordion";
@import "book";
@import "footer";
