---
---

@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico');
@import "vendor";
@import "reset";

$mimosa: #fadc94;
$emerald: #009b77;
$tigerlily: #e15d44;
$grey: #373026;
$border: #e7e7e7;

$shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

$sans-serif: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$serif: "Pacifico", "Times", serif;

body {
  background-color: #e8e4da;
  color: $grey;
  font-family: $sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  min-height: 100vh;
  &.locked {
    overflow: hidden;
  }
}

h2 {
  color: $emerald;
  display: block;
  font-family: $serif;
  font-size: 32px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: center;
  a {
    color: $emerald;
    text-decoration: none;
  }
}

h3 {
  display: block;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

a {
  @include transition(border-color 0.25s);
  border-bottom: 1px solid transparent;
  color: $tigerlily;
  text-decoration: none;
  vertical-align: bottom;

  &:hover {
    border-color: $tigerlily;
  }

}

p {
  margin: 10px 0;
}

ul, ol {
  li {
    margin-left: 25px;
  }
}

table {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

button, .button, input[type="submit"] {
  @include box();
  @include transition(background-color 0.1s);
  background-color: $tigerlily;
  border: 0;
  border-radius: 0;
  color: lighten($tigerlily, 40);
  display: inline-block;
  font-size: 19px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 27px;
  outline: 0;
  padding: 10px 17px 11px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none;

  &:hover {
    background-color: darken($tigerlily, 10);
    cursor: pointer;
  }
}

content {
  @include flex();
  @include flex-direction(row);
  @include flex-wrap();
}

@import "header";
@import "footer";

@import "Nav";
@import "Overlay";
@import "Bio";
@import "Testimonials";
@import "Saas";
@import "LeadGen";
