<section id="Bio">

  <h2>Work with Melissa</h2>

  <p>
     Melissa built Mission Nutrition in 2015 after years of working in the over-complicated healthcare system. Her intention? Deliver what works with well designed mobile and online services so her busy, professional clients could learn what works for their health with a little more flexibility and ease.
  </p>
  
  <p>
   Clients who work with Melissa are often in the midst of trying to lose weight on their own. Once they've learned all they can on their own, Melissa's expert backgorund and coaching style is a natural next step to keep on keepin' on! By blending weight loss science with values, personal strengths, and lifetyle, Melissa teaches clients how to confidently move toward goals and gain a better outlook on life. Melissa's subscriptions model how to:
  </p>
  <ul>
    <li> monitor progress through tracking </li>
    <li> meet weekly behavioral goals to drive weight loss </li>
    <li> prepare and buy foods (even if you're too busy!)</li>
    <li> modify social eating consistent with health goals </li>
    <li> enjoy food without hunger </li>
    <li> adopt a positive, accountable attitude required for long-term success</li>
  </ul>
  <p>
    If you're looking for a fun, flexible, and effective experience with someone whose focused care keeps you motivated, you're in the right spot. That's the mission: Feel better. Enjoy food. 
  </p>

  <h2>Credentials <a target="_blank" class="social" href="https://www.linkedin.com/profile/view?id=AAkAAALoRFMBDLl3t4MO2V0KuQX5FKUklVKOjME"><i class="fab fa-linkedin"></i></a></h2>

  <p>
    Melissa has worked as a health education and program designer, professional development trainer, health coach, and dietitian for several major teaching hospitals and tech companies. In addition she is a:
  </p>

  <ul>
    <li>Registered Dietitian Nutritionist</li>
    <li>Licensed Dietitian Nutritionist</li>
    <li>Certified Health and Wellness Coach</li>
    <li>Dog Mom (<a href="https://www.instagram.com/p/BRoz9kkFQVv/?taken-by=missionnutritionboston" target="_blank">meet Lucy on Instagram!</a>)</li>
    <li>Sometimes frenetic-caregiver-doer type using lifestyle behavior science and meditation practice to inform client work.</li>
  </ul>

</section>
