<section id="Bio">

  <h2>Work with Melissa</h2>

  <p>
     Melissa built Mission Nutrition in 2015 after years of working in the over-complicated healthcare system. Her intention? Deliver what works with well designed mobile and online services so her busy, professional clients could learn what works for their health with a little more flexibility and ease.
  </p>
  
  <p>
   It's not uncommon clients who work with Melissa are in the midst of trying to lose weight on their own. After initial success, they find themselves with low motivation and confusion that may stop them in their tracks. If you've learned all you can on your own and are feeling stuck, Melissa's coaching is a natural next step to keep on your journey. Melissa blends weight loss and behavior change science with your values, personal strengths, and lifetyles to help them practice meaningful, life changing habits. The results? Clients who work with Melissa learn how to confidently move toward their weight goals with an expert in their corner. They feel more in charge of their lives and have a better outlook on life. Melissa's subscriptions all work to model and coach you through how to:
  </p>
  <ul>
    <li> monitor progress through tracking </li>
    <li> set, and meet, weekly behavior goals that drive weight loss </li>
    <li> prepare foods consistent with a healthy diet <li>
    <li> eat out and socializing consistent with their health goals </li>
    <li> enjoy food they like with out distracting hunger and fatigue </li>
    <li> adopt a positive, accountable attitude required for long-term success>
  </ul>
  <p>
    If you're looking for a fun, flexible, and effective experience with someone whose focus keeps you motivated to reach your health goals, you're in the right spot. That's the mission: Feel better. Enjoy food. 
  </p>

  <h2>Credentials <a target="_blank" class="social" href="https://www.linkedin.com/profile/view?id=AAkAAALoRFMBDLl3t4MO2V0KuQX5FKUklVKOjME"><i class="fab fa-linkedin"></i></a></h2>

  <p>
    Melissa has worked as a health education and program designer, professional development trainer, health coach, and dietitian for several major teaching hospitals and tech companies. In addition she is a:
  </p>

  <ul>
    <li>Registered Dietitian Nutritionist</li>
    <li>Licensed Dietitian Nutritionist</li>
    <li>Certified Health and Wellness Coach</li>
    <li>Dog Mom (<a href="https://www.instagram.com/p/BRoz9kkFQVv/?taken-by=missionnutritionboston" target="_blank">meet Lucy on Instagram!</a>)</li>
    <li>Sometimes frenetic-caregiver-doer type using lifestyle behavior science and meditation practice to inform client work.</li>
  </ul>

</section>
