<section id="Bio">

  <h2>Work with Melissa</h2>

  <p>
     Melissa built Mission Nutrition in 2015 after years working in the over-complicated healthcare system. Her intention? Deliver what works with well designed online services so full of life, busy clients could learn with flexibility and ease.
  </p>
  
  <p>
   Clients who work with Melissa are often trying to lose weight. After learning all they can on their own, Melissa's expert background and coaching style is a natural next step to keep on keepin' on!
  </p>
  <p>
    Blending your personal values, strengths, and lifetyle; Melissa models how to confidently lose weight and gain a better life outlook through:
  </p>
  <ul>
    <li> awareness raising using flexible tracking tools </li>
    <li> tailored goals that improve health metrics (like eating, exercise, sleep) </li>
    <li> buying and preparing healthy food (even if you're too busy!)</li>
    <li> enjoying socializing and favorite foods consistent with goals </li>
    <li> adopting a positive, accountable attitude required for long-term success </li>
  </ul>
  <p>
    If you're looking for a fun, flexible, and effective experience with someone whose focused care keeps you motivated, you're in the right spot. That's the mission: Feel better. Enjoy food. 
  </p>

  <h2>Credentials <a target="_blank" class="social" href="https://www.linkedin.com/profile/view?id=AAkAAALoRFMBDLl3t4MO2V0KuQX5FKUklVKOjME"><i class="fab fa-linkedin"></i></a></h2>

  <p>
    Melissa has worked as a health education and program designer, professional development trainer, health coach, and weight loss dietitian for several major teaching hospitals and tech companies. In addition to earning degrees in nutrition science and adult education using technology, Melissa is a:
  </p>
  <ul>
    <li>Registered Dietitian Nutritionist</li>
    <li>Licensed Dietitian Nutritionist</li>
    <li>Certified Health and Wellness Coach</li>
    <li>Self-care practioner, balancing client work with cooking, moving, and meditation along side her dog, Lucy!(<a href="https://www.instagram.com/p/BRoz9kkFQVv/?taken-by=missionnutritionboston" target="_blank">meet Lucy on Instagram!</a>)</li>
  </ul>

</section>
