$timing: 0.5s;
$height: 425px;
$small: 175px;
$large: 400px;
$padding: 25px;

.accordion {
  margin-top: 50px;
  text-align: center;
  width: 100%;

  .bellow {
    @include box();
    @include shadow(0 2px 4px rgba(0, 0, 0, 0.5));
    @include transform(scale(1));
    @include transition(background $timing, margin $timing, transform $timing, width $timing);
    background: rgb(253, 253, 253);
    cursor: pointer;
    display: inline-block;
    height: $height;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    width: $small;
    z-index: 9;

    &:before {
      @include transition(opacity 0.1s);
      bottom: $padding * 2;
      color: $grey;
      font-family: "FontAwesome";
      font-size: 75px;
      left: 50%;
      margin-left: -50px;
      opacity: 0.1;
      position: absolute;
      text-align: center;
      width: 100px;
    }

    &#meal:before {
      content: "\f073";
    }

    &#mobile:before {
      bottom: 30px;
      content: "\f10b";
      font-size: 120px;
    }

    &#coach:before {
      content: "\f0e6";
    }

    &:hover {
      .title {
        opacity: 1;
      }
      &:before {
        opacity: 0.3;
      }
    }

    .content {
      @include box();
      @include transition(padding $timing);
      height: $height;
      left: 50%;
      margin-left: -$large/2 - $padding;
      overflow: hidden;
      padding: $padding $padding;
      position: absolute;
      text-align: center;
      top: 0;
      width: $large + $padding * 2;
    }

    .title {
      @include transform(scale(1));
      @include transition(opacity 0.1s, transform $timing);
      color: $emerald;
      display: block;
      font-family: $serif;
      font-size: 18px;
      opacity: 0.75;
      text-decoration: none;
    }

    .price {
      @include transition(opacity $timing);
      @include blur(2);
      display: block;
      font-size: 64px;
      margin: 10px auto;
      opacity: 0;

      .duration {
        @include transition(width $timing);
        display: inline-block;
        font-size: 32px;
        overflow: hidden;
        text-align: left;
        vertical-align: bottom;
        width: 0;

        &.small {
          font-size: 16px;
          margin-bottom: 5px;
          margin-left: 5px;
        }
      }
    }

    p, ul {
      @include box();
      @include transition(opacity $timing);
      @include blur(1);
      color: $grey;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin: 15px auto;
      opacity: 0;
      padding: 0 15px;
      text-align: left;
      width: $large;
    }

    ul {
      margin: 0 auto 15px;
      li {
        margin: 5px $padding;
      }
    }

    .button {
      @include transition(opacity $timing);
      @include blur(2);
      bottom: 30px;
      left: 50%;
      margin-left: -50px;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 100px;
    }

    &.active {
      @include flex-size(1);
      @include shadow();
      @include transform(scale(1.1));
      background: white;
      cursor: auto;
      margin: 0 28px;
      width: $large + $padding * 2;
      z-index: 10;

      &:before {
        opacity: 0;
      }

      .title {
        @include transform(scale(1.5));
      }

      .title, .price, p, ul, .button {
        @include blur(0);
        opacity: 1;

        .duration {
          width: 105px;
        }
      }

      .button {
        pointer-events: all;
      }

    }

  }

}
