$timing: 0.5s;
$small: 400px;
$large: 600px;

.accordion {
  @include flex;
  @include flex-direction(row);
  @include align-items(flex-end);
  margin-top: 50px;
  width: 700px;

  .bellow {
    @include box();
    @include shadow(0 2px 2px rgba(0, 0, 0, 0.25));
    @include transform(scale(0.9));
    @include transition(background $timing, flex $timing, transform $timing);
    background: rgb(253, 253, 253);
    cursor: pointer;
    height: $small;
    min-width: 250px;
    position: relative;
    z-index: 9;

    &:first-child {
      @include transform-origin(100% 50%);
    }

    &:last-child {
      @include transform-origin(0% 50%);
    }

    .content {
      @include transition(padding $timing);
      height: $small;
      left: 0;
      overflow: hidden;
      padding: 25px 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
    }

    &.large {
      height: $large;
      .content {
        height: $large;
      }
    }

    .title {
      @include transition(opacity $timing);
      color: $emerald;
      display: block;
      font-family: $serif;
      font-size: 32px;
      opacity: 0.75;
      text-decoration: none;
    }

    .price {
      @include transition(opacity $timing);
      display: block;
      font-size: 64px;
      margin: 10px auto;
      opacity: 0;

      .duration {
        font-size: 32px;
        vertical-align: bottom;
      }
    }

    p {
      @include transition(opacity $timing);
      margin: 15px auto;
      opacity: 0;
      width: 400px;
    }

    .button {
      @include transition(opacity $timing);
      opacity: 0;
      pointer-events: none;
    }

    &.active {
      @include flex-size(1);
      @include shadow();
      @include transform(scale(1));
      background: white;
      cursor: auto;
      z-index: 10;

      .content {
        padding: 25px;
      }

      .title {
        opacity: 1;
      }

      .price, p, .button {
        opacity: 1;
      }

      .button {
        pointer-events: all;
      }

    }

  }

}
