#banner {
  @include flex;
  @include align-items(center);
  border-bottom: 1px solid $border;
  height: 200px;
  margin-bottom: -($nav+100);
  margin-top: $nav;
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;
  width: 100vw;

  img {
    @include blur(2);
    left: -5px;
    opacity: 1;
    position: absolute;
    top: -5px;
    width: 105%;
  }

}

#header {
  color: $emerald;
  margin: 0 auto 30px;
  text-align: center;
}
