main {
  @include flex();
  @include flex-direction(column);
  @include justify(flex-start);
  @include align-items(center);
  background-color: #ffffee;
  min-height: 100vh;

  section {
    @include flex-size(1);
    @include shadow();
    background-color: white;
    margin: $nav 0 50px;
    padding: 50px 60px 40px;
    z-index: 10;

    h1 {
      font-size: 40px;
      font-weight: 400;
      letter-spacing: 2px;
      margin: 0 auto 20px;
      max-width: 500px;
      text-transform: uppercase;

      i {
        color: $tigerlily;
        font-size: 40px !important;
        margin-right: 15px;
        margin-top: 4px;
      }
    }

    p, ul {
      font-size: 18px;
      line-height: 28px;
      margin: 20px auto;
      max-width: 500px;

      .signature {
        display: block;
        font-family: $serif;
        font-size: 20px;
      }

    }

    ul {
      list-style-type: none;

      li {
        margin-left: 35px;
        position: relative;
        &:before {
          content: "\f111";
          font-family: "FontAwesome";
          font-size: 6px;
          left: -20px;
          position: absolute;
          top: 1px;
        }
      }

    }

  }

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
    i {
      color: $mimosa;
      font-size: 30px !important;
      margin-right: 15px;
      margin-top: 5px;
    }
  }

  .button {
    @include transition(box-shadow 0.1s);
    background-color: $tigerlily;
    color: white;
    display: inline-block;
    margin-top: -2px;
    padding: 5px 8px;
    &:hover {
      @include shadow;
    }
  }

  .flexbox {
    @include flex;
    @include flex-wrap(wrap);
  }

  .service {
    @include shadow();
    background-color: white;
    border: 1px solid $border;
    margin: 20px;
    max-width: 400px;
    min-width: 400px;
    padding: 20px 20px 65px;
    position: relative;

    h2 {
      margin-bottom: 20px;
      padding-left: 38px;
      position: relative;
      i {
        margin-left: -38px;
        margin-top: -3px;
        position: absolute;
      }
    }

    .button {
      bottom: 20px;
      position: absolute;
      right: 20px;
    }

  }

  footer {
    @include flex-size(none);
    font-size: 12px;
    line-height: 18px;
    margin: 25px 0 40px;
    text-align: center;
    width: 100%;
    a {
      color: $grey;
    }
  }

}
