$height: 600px;

header, .header {
  height: $height;
}

.header.parallax-window {
  @media screen and (max-width: 720px) {
    display: none;
  }
  &.mobile {
    display: none;
    @media screen and (max-width: 720px) {
      display: block;
    }
  }
}

header {
  @include box();
  @include flex;
  @include flex-direction(column);
  @include align-items(center);
  left: 0;
  padding: 50px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50%;

  #logo {
    margin-top: -30px;
    width: 350px;
  }

  #tagline {
    @include text-shadow(0 2px 5px rgba(0, 0, 0, 1));
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin: 10px auto 25px;
    text-align: center;
  }

  .social {
    @include transition(color 0.1s);
    border: 0;
    color: white;
    display: inline-block;
    font-size: 35px;
    margin: 15px 10px;
    text-decoration: none;
    vertical-align: bottom;

    &:hover {
      color: $mimosa;
    }

    i {
      font-size: 18px !important;
      margin: 0 5px;
    }

  }

  @media screen and (max-width: 900px) {
    #logo {
      width: 300px;
    }
    #tagline {
      @include text-shadow(0 1px 3px rgba(0, 0, 0, 1));
      font-size: 16px;
      margin-top: -5px;
    }
  }

  @media screen and (max-width: 720px) {
    @include justify-content(space-between);
    width: 100%;
    #logo {
      margin-top: -10px;
    }
    #tagline {
      margin-bottom: 0;
    }
  }

}
