header {
  @include flex;
  @include align-items(center);
  @include justify(space-between);
  @include shadow();
  background-color: white;
  border-bottom: 1px solid $border;
  height: $nav;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  #logo {
    border: none;
    color: $grey;
    display: inline-block;
    font-family: $serif;
    font-size: 30px;
    margin-left: 30px;
    width: 200px;

    img {
      width: 100%;
    }

    &:hover {
      border: none;
    }

  }

  nav {

    ul {
      display: inline-block;
      margin-right: 20px;

      li {
        display: inline-block;
        letter-spacing: 2px;
        margin: 20px 20px 0;
        text-transform: uppercase;

        a {
          border-bottom: 2px solid transparent;
          color: $grey;
          font-weight: 600;
          padding-bottom: 2px;

          &:hover {
            border-color: $tigerlily;
          }

          &.active {
            border-color: transparent;
            color: $tigerlily;
          }

        }

      }

    }

  }

}
