$nav: 60px;

$mimosa: #EFC050;
$emerald: #009B77;
$tigerlily: #E15D44;
$grey: #444444;
$border: #e7e7e7;

$shadow: 0 2px 1px rgba(0, 0, 0, 0.5);

$sans-serif: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$serif: "Pacifico", "Times", serif;
