<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">

    <meta name="author" content="Mission Nutrition" />
    <meta name="description" content="Work with Coach Melissa, Registered Dietitian and Certified Health Coach, to feel better and enjoy food. Reach your general health and weight loss goals with choice of flexible meal plans, mobile chat, and real time virtual coaching services." />
    <meta name="keywords" content="dietitian, nutritionist, health coach, how do I lose weight, what works to lose weight, weight loss, nutrition counseling, how do I stop craving foods, how do i eat better, motivation to eat better, how to stop boredom eating, how to stop stress eating, what do i eat for dinner, how do I stop feeling hungry, what should I buy at the grocery store, how do I become a healthy vegetarian, healthy meal plan, best diet for weight loss" />

    <!-- Facebook Properties -->
    <meta property="og:image" content="/images/logo-square.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mission Nutrition{% if page.title %} | {{ page.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}We are Registered Dietitians who deliver innovative nutrition services 100% online: we meet you where you are, when you are ready. Book now to learn what you are capable of with us by your side. We can’t wait to get started!{% endif %}" />
    <meta property="fb:admins" content="USER_ID" />

    <title>{% if page.title %}{{ page.title }}{% else %}Health Coaching with a Registered Dietitian{% endif %} | Mission Nutrition</title>

    <link rel="icon" type="image/png" href="/images/icon.ico">

    <link rel="stylesheet" href="/css/styles.css">

    <script src="/js/jquery-2.2.2.min.js"></script>
    <script src="/js/parallax.min.js"></script>

  </head>
  <body class="{{ page.title }}">

    {{ content }}

    <footer>

      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSewgjQfOO-zYVikz-oCMtEjnkamAQTEweTuT8F00rGyEoKEFA/viewform">Contact</a> - (617) 564-1459
      <br />
      Background photo by <a href="https://flic.kr/p/grmZLz" target="_blank">Sonny Abesamis</a>
      <br />
      &copy; {{ site.time | date: '%Y' }} Mission Nutrition. All rights reserved.

    </footer>

    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64813303-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
