---
layout: base
---
<section>

  {% if page.header %}
  <h1 id="header">{{ page.header }}</h1>
  {% endif %}

  {{ content }}

</section>

<!-- <div class="flexbox"> -->
  {% assign services = site.services | sort:"order" %}
  {% for service in services %}
  <a class="anchor" id="{{ service.title }}"></a>
  <section class="service">
    <div class="title">
      {% if service.icon %}<i class="fa fa-{{ service.icon }}"></i>{% endif %}
      <h2>{{ service.title }}</h2>
    </div>
    {{ service.content | markdownify }}
    <p class="right bottom">
      <a target="_blank" class="button" href="https://clients.mindbodyonline.com/classic/home?studioid=260796">Book Now</a>
    </p>
  </section>
  {% endfor %}
<!-- </div> -->
